.footer {
    padding: 100px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-info,
.contact-form {
    width: 45%;
}

.section-title {
    font-size: 35px;
}

.section-description {
    color: #757575;
}

.social-links {
    display: flex;
    gap: 20px;
}

.form-input {
    width: 100%;
    padding: 18px;
}
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.form-textarea {
    width: 350px;
    height: 100px;
    padding: 18px;
    
}

.btn-primary {
    padding: 18px 35px;
    background-color: orange;
    border-radius: 10px;
}